@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

*, button, input {
    font-family: Kufam, sans-serif;
    font-weight: 500;
}

:root {
    --color-header: #fff;
    --color-secondary: #E3AC1B;
    --color-tertiary: #F2D022;
    --color-quaternary: #2E3444;
    --color-blue: #0061ff;
    --color-border: #bdc4c9;
    --color-footer:  #101316;
}