.ContainerAdmin{
    background: var(--color-header);
    width: 100%;
    
}

.BannerAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 200px 0 100px 0;
}

.BannerAdmin button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
}

@media (min-width: 767px) {
    .ContainerAdmin{
        background: var(--color-header);
        width: 100%;
        
    }
    
    .BannerAdmin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 200px 0 100px 0;
    }

    .BannerAdmin button{
        font-size: 25px;
    }

    .BannerAdmin h2{
        font-size: 35px;
    }
    
    .BannerAdmin button{
        text-align: center;
        height: 3.5rem;
        width: 20%;
        margin-top: 35px;
    }

    .BannerAdmin button span:first-child{
        width: 10px
    }
}

