.container { 
    position: relative;
}

.headerWrapper {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
}

header {
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    background: var(--color-header);
    display: flex;
    justify-content: space-between;
    padding: 30px 32px;
}

header .namePage a {    
   display: flex;
   align-items: center;
   width: 10%;
}

header .namePage a h1{    
   display: none
}
    	

header .namePage img {    
    width: 46px;
    height: 46px;
    flex-shrink: 0;
}
    
header .itemHeader {  
    display: flex;
    align-items: center;
}

header .itemHeader a{  
    color: var(--color-quaternary)
}



header button {
    color: var(--text-color);
    background: none;
    border: none;
    outline: none;
    font-size: 35px;
    display: unset;
    cursor: pointer;
}

.itemHeader a:last-child {
    margin-left: 20px;
}

@media (min-width: 769px) {

    header{
        display: flex;
        align-items: center;
        padding: 20px 3rem;
        background: var(--color-header);
    } 

    header .namePage img {    
        width: 60px;
        height: 58px;
        flex-shrink: 0;
    }

    
    .namePage a{
        display: flex;
        align-items: center;
        
    }

    .namePage a h1{
        margin: 25px 25px;
        font-size: 30px;
        
    }
    
    header button {
        display: none;
    }

    header div a {
        text-decoration: none;
        color: #1F2229;
        font-weight: 500;
        font-size: 20px;
        display: unset;
    }

    header a img {
        width: 60px;
    }
    
}
