
.ContainerBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0 50px 0;
    text-align: center;
}


.ContainerBanner h2 {
    font-size: 35px;
}


.ContentOferta {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.CardOferta img {
    width: 100%;
    margin: 30px auto;
}

.ContentOferta .CardOferta button{
    width: 100%;
}

.Link{
    padding: 50px 0;
    text-align: center;
}

.Link a {
    font-size: 13px;
    outline:0;
    background: var(--color-quaternary);
    color: var(--color-header);
    padding: 25px;
    border-radius: 50px;
}

@media (min-width: 767px){

    .ContentOfertts{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    
    .CardOferta {
       height: 80vh;
       margin: 10px;
       display: flex;
       justify-content: center;
       align-items: center;
        
    }

    .CardOferta img {
        width: 80%;
        margin: 30px auto;
    }

    .CardOferta p {
        font-size: 20px;
        font-weight: 700;
        margin: 25px 0;
        
    }
    
    .ContentOferta .CardOferta button{
        width: 70%;
    }

    .Link{
        padding: 50px 0;
        text-align: center;
    }

    
    .Link a {
        font-size: 20px;
        outline:0;
        background: var(--color-quaternary);
        color: var(--color-header);
        padding: 25px;
        border-radius: 50px;
    }

    

}