
.Banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0 50px 0;
}


.ContainerCard{
    background: var(--color-header);
    width: 100%;
   
}

.Banner h2 {
    font-size: 35px;
}

.WrapperOferta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ContentOferta {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.CardOferta img {
    width: 100%;
    margin: 30px auto;
}

.ContentOferta .CardOferta button{
    width: 100%;
}

@media (min-width: 767px){

    .WrapperOferta{
        display: flex;
        flex-wrap: nowrap;
    }
    
    .ContentOferta {
        width: 50%;
        text-align: center;
        padding: 10px 0;
    }
    
    .CardOferta img {
        width: 60%;
        margin: 30px auto;
    }
    
    .ContentOferta .CardOferta button{
        width: 70%;
    }
    
    
}

